<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3226290479-tlij9ouletlagprufefcmroaphp2cf2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3226290479-tlij9ouletlagprufefcmroaphp2cf2p</string>
	<key>API_KEY</key>
	<string>AIzaSyBojAX-oOopsv0UxdZONxaJGe8luTi4eVk</string>
	<key>GCM_SENDER_ID</key>
	<string>3226290479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moviesApp</string>
	<key>PROJECT_ID</key>
	<string>movies-3adcf</string>
	<key>STORAGE_BUCKET</key>
	<string>movies-3adcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3226290479:ios:7e621dca6301e57a6bb9da</string>
</dict>
</plist>